---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "CV";
---
<BaseLayout pageTitle={pageTitle}>
    <h1>Nathan Henriquez</h1>

    <h2>Bio</h2>
    <p>I'm a Game Producer and Developer with over 5 years of media production 
        experience. I have a backgound in animation, videography, and game development.</p>

    <h2>Experience</h2>
    <h3>Associate Producer - Blizzard Entertainment</h3>
    <ul>
        <li>Animation Technology</li>
        <li>2022-2024</li>
    </ul>

    <h3>Multimedia Specialist - DePaul University</h3>
    <ul>
        <li>Center for Teaching and Learning</li>
        <li>2019-2021</li>
    </ul>

    <h3>Videographer - Computer Training Institute of Chicago</h3>
    <ul>
        <li>Internship</li>
        <li>2019-2020</li>
    </ul>

    <h3>Production Assistant - GRTV & Grand Rapids Community Media Center</h3>
    <ul>
        <li>Internship</li>
        <li>2018</li>
    </ul>

    <h2>Certifications</h2>
    <h3>Professional Scrum Master I</h3>
    <ul>
        <li>Scrum.org</li>
        <li>Dec 2023</li>
    </ul>

    <h3>Google Project Management Professional Certificate</h3>
    <ul>
        <li>Google/Coursera</li>
        <li>Jan 2022</li>
    </ul>

    <h2>Education</h2>
    <h3>DePaul University</h3>
    <ul>
        <li>M.A. in Animation</li>
        <li>2019-2021</li>
        <li>Studied 3D game art and animation, visual storytelling, VFX</li>
    </ul>

    <h3>Grand Valley State University</h3>
    <ul>
        <li>B.A. in Philosophy, Minor in Computer Science</li>
        <li>2015-2019</li>
        <li>Studied the history of philosophy, phenomenolgy, logic, language, new media, data structures, and algorithms</li>
    </ul>

    <h2>Skills</h2>
    <ul>
        <li>Game Art, Scripting</li>
        <li>Level Design</li>
        <li>Game Production</li>
    </ul>
    <h3>Project Management</h3>
    <ul>
        <li>Project Management</li>
        <li>Scheduling, Budgeting</li>
        <li>Agile, Scrum, Waterfall, Kanban</li>
        <li>Jira, Confluence, ShotGrid</li>
        <li>Microsoft Office, Google Suite</li>
    </ul>
    <h3>Technology</h3>
    <ul>
        <li>Unreal Engine, Blueprints</li>
        <li>C++, Python, Lua</li>
        <li>Front End Web Development</li>
        <li>HTML, CSS, JavaScript</li>
        <li>Adobe Creative Suite, Figma</li>
        <li>3D Modeling, Texturing, Animation</li>
        <li>Maya, ZBrush, Substance Tools</li>
    </ul>

    <h2>Credits</h2>
    <ul>
        <li>Diablo IV - In game and pre-rendered cinematics, Animation Technology</li>
        <li>World of Warcraft: The War Within - In game and pre-rendered cinematics, Animation Technology</li>
        <li>Overwatch 2: Kiriko - Pre-rendered cinematic, Animation Technology</li>
    </ul>
</BaseLayout>
