---
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import '../styles/projects.css';
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>
    <div>
        <Card url={"https://www.youtube.com/watch?v=o03STclgxSc"} title={"WoW: The War Within"} image={"henriquezna/src/images/wow.jpg"} content={"Animation - Technology"} />
        <Card url={"https://diablo4.blizzard.com/en-us/"} title={"Diablo IV"} image={"/src/images/diablo-iv.jpg"} content={"Animation - Technology"} />
        <Card url={"https://www.youtube.com/watch?v=9acxn7qAST4"} title={"Overwatch 2: Kiriko"} image={"/src/images/kiriko.jpg"} content={"Animation - Technology"} />

        <Card url={"/posts/GameJams"} title={"Seashell Jam"} image={"/src/images/ScreenShot00004.png"} content={"Designer, 3D Artist"} />
        <Card url={"https://asfunasfun.itch.io/squashbuckler"} title={"Squashbuckler"} image={"/src/images/squashbuckler.png"} content={"Visual Artist"} />
        <Card url={"https://henriquezna.itch.io/ninja-castle"} title={"Ninja Castle"} image={"/src/images/ninjacastle.png"} content={"Designer, Developer"} />

        <Card url={"https://vimeo.com/699689682?share=copy"} title={"Late For Work"} image={"/src/images/lateforwork.png"} content={"Director, Artist"} />
        <Card url={"https://www.artstation.com/henriquezna"} title={"Environment Art"} image={"/src/images/henriquez-castleruinsunity.jpg"} content={"Art Station"} />
    </div>
</BaseLayout>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        gap: 10px;

        padding: 1rem 1rem;
        color: maroon;
        text-decoration: none;
    }
</style>