---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
---
<header>
    <h1>Nathan Henriquez</h2>
    <h2>Producer and Game Developer</h2>
    <Hamburger />
    <Navigation />
</header>

<style>
    header {
    padding:0;
    margin:0;

    top:0;
    left:0;
    width: 100%;
        /*background-color: rgb(32, 75, 145);*/
    }
    h1, h2 {
      color: rgb(0, 0, 0);
    }
</style>